<%= render "shared/header" %>

<div style="overflow: auto">
    <h1 style="float:left;margin:3px 5px; color: #FF8728">Groups</h1>
    <% if user_signed_in? %>
        <button style="float:right" type="button" class="btn btn-default navbar-btn"><%= link_to 'New Group', new_group_path %></button>
    <% end %>
</div>

<br>

<%= render @groups %>

<br>
