<h1>Editing</h1>

<%= render 'form', post: @user %>

<br>

<nav aria-label="...">
    <ul class="pager">
        <li><%= link_to 'Show', @user %></li>
        <li><%= link_to 'Back', users_path %></li>
    </ul>
</nav>

 
