// Place all the styles related to the Groups controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.container{
    .groups{
        display: flex;

        h3{
            width: 50%;
            a{
                color: red;
            }
        }
        .buttom{
            margin-top: 10px;
        }
    }
   
}
/* Tab Links */
.tabs{
    display:flex;
    .tablinks {
        border: none;
        outline: none;
        cursor: pointer;
        width: 100%;
        padding: 1rem;
        font-size: 13px;
        text-transform: uppercase;
        font-weight:600;
        transition: 0.2s ease;
      }
    .tablinks:hover{
        background:rgb(48, 134, 233);
        color:#fff;
      }
    /* Tab active */
    .tablinks.active {
        background:rgb(48, 134, 233);
        color:#fff;
      }
}
/* tab content */
.wrapper_tabcontent{
    .tabcontent {
        display: none;
        /* Text*/
        p{
            color: #333;
            font-size: 16px;
        }


        .list_members{
            position: relative;
            padding-left: 15px;
            top: 50px;
        
            #label1{
                position: absolute;
                top: 0;
                font-size: 20px;
            }
        
            #label2{
                position: absolute;
                top: 45px;
                font-size: 20px;
            }
        
        
            input{
                display: none;
        
                &+label{
                    cursor: pointer;
        
                    img{
                        transform: rotate(-90deg);
                    }
        
                    font-style: normal;
                    font-weight: bold;
                    font-size: 1rem;
                    line-height: 26px;
                    color: #333333;
                }
                &+label:hover{
                    color: #0a67a5;
                }
        
                &:checked{     
                    &+label{
                        color: #0a67a5;
                        &+.tab{
                            display: block;
                            left: 430px;
                        }    
                    }    
                }
            }
        
            .tab{
                position: absolute;
                display: none;
                top: 40px;
                width: 100%;

                .member{
                    display: flex;

                    .avatar{
                        width: 50px;
                        height: 50px;
                        margin: 10px;
                    
                        img{
                            border-radius: 50%;
                            width: 100%;
                            height: 100%;
                        }
                    }
                    h3{
                        width: 40%;
                        margin-top: 25px;
                        margin-left: 10px;
                        margin-bottom: 10px;
                    }
                    .button_accpect{
                        width: 20%;
                        margin-top: 15px;
                    }

            }
        }
    }
}
    /* tab content active */
    .tabcontent.active {
    display: block;
    }

}


  