// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.main{
    display: flex;
    flex-direction: row;

    .left{
        width: 30%;
    }
    .between{
        width: 40%;
        .well {
            background-color: white;
            h3{
                a{
                    color :#0078D7;
                }
               
            }
        
            .image {
                width: 100%;
                margin: auto;
        
                img{
                    width: 100%;
                    height: auto;
                }
            }
    
           
        }
    }
    .right{
        width: 30%;
    }
    
    

    h3{
        color :#0078D7;
    }

    .image {
        width: 65%;
        margin: auto;

        img{
            width: 100%;
            height: auto;
        }
    }

    .bottom{
        display: flex;
        margin: 10px;
        padding: 10px;

        .like-post{
            width: 79%;
        }
        
        .button{
            width: 21%;
        }
    }

    .post-author {
        display: flex;
        align-items: center;

        .avatar{
            width: 50px;
            height: 50px;
            margin: 10px;
        
            img{
                border-radius: 50%;
                width: 100%;
                height: 100%;
            }
        }

        a {
            display: flex!important;
            color: #5488c7;
            text-decoration: none;
            background-color: initial;
        }
    }
}
.post-author {
    display: flex;
    align-items: center;

    .avatar{
        width: 50px;
        height: 50px;
        margin: 10px;
    
        img{
            border-radius: 50%;
            width: 100%;
            height: 100%;
        }
    }

    a {
        display: flex!important;
        color: #5488c7;
        text-decoration: none;
        background-color: initial;
    }
}
