
.inf_personal{
    display: flex;
    max-width: 1220px;
    margin: 0 auto;

    .user{
        width: 40%;
        float: left;
    
        .avatar{
            width: 250px;
            height: 250px;
        
            img{
                border-radius: 50%;
                width: 100%;
                height: auto;
            }
        }
        
        h3{
            margin: 5px;
        }
    }
    
    .user_post{
        width: 60%;
        float: right;
        img{
            width: 100%;
            height: auto;
        }
        
    }
}


